/**
 * Styles for the document body
 */
body
{
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  margin: 0;
  min-width: 925pt;
}
hr.clear
{
  clear: both;
  margin-bottom: 25pt;
  visibility: hidden;
}

/**
 * Styles for header
 */
div#header
{
  background-color: #ccc;
  border-bottom: 4px solid #666;
  color: #666;
}
div#header hr
{
  clear: both;
  margin: 0;
  visibility: hidden;
}
div#title
{
  float: left;
}
div#title h1#label
{
  float: left;
  font-size: 14pt;
  margin: 0 auto 0 25pt;
  padding: 0;
}
/*div#title p
{
  margin: 0 auto 10pt 25pt;
  line-height: 8pt
}*/
div#toolbar
{
  color: #aaa;
  float: left;
  font-size: 11pt;
  margin: 2pt 25pt 0 325pt;
}
#research-trigger, #pub-trigger
{
  color: #235;
}
div#social
{
/*  border: 1px solid #0f0; */
  color: #aaa;
  float: right;
  height: 16pt;
  padding-right: 25pt;
  padding-top: 3pt;
}
div#social img
{
  border: 0;
  width: 12pt;
}
div#social img:hover
{
  opacity: 0.5;
  /*filter: alpha(opacity=50);*/
}
div#social a
{
  text-decoration: none;
}

/**
 *
 * Containers for describing academic or vocational experience
 */
div.entry
{
  border-radius: 10px;
  border-style: solid;
  font-size: 10pt;
  margin-left: 20pt;
}

/**
 * Containers for describing technical skills and when they were actively
 * learned and applied
 */
div.skill
{
  background-color: #dfc;
  border-color: #486;
  border-radius: 10px;
  border-style: solid;
  color: #486;
  font-size: 10pt;
  margin-left: 20pt;
  text-align: center;
  width: 55pt;
}

/**
 * Invisible column containers
 */
div.container
{
  float: left;
}

/**
 * Styles for entries describing institutions at which I have been a student
 */
div.education
{
  background-color: #235;
  border-color: #235;
  color: #ddd;
  /*opacity: 0.6; filter: alpha(opacity=60);*/
  width: 140pt;
}
div.education:hover
{
  /*opacity: 1.0; filter: alpha(opacity=100);*/
}
div.education h1
{
  font-size: 14pt;
  margin-top: 0;
  text-align: center;
}
div.education img
{
  display: block;
  margin: 3pt auto;
  width: 40px;
}
div.education p
{
  font-size: 10pt;
  margin: 0 5pt;
}

/**
 * Styles for entries describing positions I have held
 */
div.experience
{
  background-color: #f2f7fe;
  border-color: #235;
  color: #235;
  width: 145pt;
}
div.experience h1
{
  font-size: 12pt;
  margin: 0 auto;
  padding-top: 0;
  text-align: center;
}
div.experience p
{
  font-size: 9pt;
  margin: 0 5pt;
  text-align: center;
}

/**
 * Styles for the timeline
 */
div#timeline
{
  background-color: #ffd;
  border-color: #999;
  border-radius: 0 0 10px 10px;
  border-style: solid;
  border-width: 0 1px 1px 1px;
  color: #999;
  font-size: 18pt;
  float: left;
  margin-left: 25pt;
  text-align: center;
  width: 70pt;
}
div#timeline ul
{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
div#timeline ul li
{
  margin: 20pt auto;
}

/**
 * Styles for individual entries
 */
div#iastate
{
  border-radius: 0 0 10px 10px;
  border-width: 0 1px 1px 1px;
  height: 105pt;
  padding-top: 12pt;
}
div#byu
{
  border-width: 1px;
  height: 300pt;
  margin-top: 5pt;
  padding-top: 12pt;
}
div#phd
{
  border-radius: 0 0 10px 10px;
  border-width: 0 1px 1px 1px;
  height: 40pt;
  padding-top: 3pt;
}
div#pws
{
  border-width: 1px;
  height: 40pt;
  margin-top: 78pt;
  padding-top: 6pt;
}
div#uga
{
  border-width: 1px;
  height: 18pt;
  margin-top: 30pt;
  padding-top: 0;
}
div#ta
{
  border-width: 1px;
  height: 49pt;
  margin-top: 5pt;
  padding-top: 0;
}
div#lds
{
  border-width: 1px;
  height: 73pt;
  margin-top: 22pt;
  padding-top: 15pt;
}
div#arclite
{
  border-width: 1px;
  height: 132pt;
  margin-top: 122pt;
  padding-top: 18pt;
}

/**
 * Styles for individual skills
 */
div#web
{
  border-width: 1px;
  height: 160pt;
  margin-top: 122pt;
  padding-top: 12pt;
}
div#perl
{
  border-width: 0 1px 1px 1px;
  border-radius: 0 0 10px 10px;
  height: 206pt;
  padding-top: 12pt;
}
div#java
{
  border-width: 1px;
  height: 37pt;
  margin-top: 5pt;
  padding-top: 12pt;
}
div#c
{
  border-width: 0 1px 1px 1px;
  border-radius: 0 0 10px 10px;
  height: 105pt;
  padding-top: 12pt;
}
div#cpp
{
  border-width: 1px;
  height: 58pt;
  margin-top: 5pt;
  padding-top: 12pt;
}
div#lab
{
  border-width: 1px;
  height: 85pt;
  margin-top: 5pt;
  padding-top: 12pt;
}
div#hpc
{
  border-width: 0 1px 1px 1px;
  border-radius: 0 0 10px 10px;
  height: 210pt;
  padding-top: 12pt;
}

/**
 * Styles for meta
 */
p#meta
{
  color: #dfdfdf;
  margin: 25pt auto;
  text-align: center;
}
p#meta a, p#meta a:visited
{
  color: #ccc;
  text-decoration: none;
}
p#meta a:hover, p#meta a:visited:hover
{
  color: #999;
  text-decoration: underline;
}

/**
 * Styles for tooltips
 */
div.tooltip
{
  background: transparent url(bg.png);
  border: 1px dashed #666;
  border-radius: 5px;
  color: #666;
  display: none;
  padding: 0 15pt;
}
.trigger
{
  cursor: pointer;
}
.toolbartooltip
{
  width: 300pt;
}
.toolbartooltip h1
{
  font-size: 14pt;
  margin-bottom: 0;
}
.toolbartooltip a, .toolbartooltip a:visited
{
  color: #239;
  text-decoration: none;
}
.toolbartooltip a:hover, .toolbartooltip a:visited:hover
{
  color: #f90;
  text-decoration: underline;
}
.toolbartooltip ul
{
  font-size: 10pt;
  margin-top: 0;
}
.edtooltip, .extooltip
{
  width: 370pt;
}
.sktooltip
{
  width: 180pt;
}
/*.tooltip ul
{
  font-size: 11pt;
  list-style: none;
  padding-left: 10pt;
}
.tooltip ul li:before
{
  content: "- ";
}*/
.tooltip a, .tooltip a:visited
{
  color: #239;
  text-decoration: none;
}
.tooltip a:hover, .tooltip a:visited:hover
{
  color: #f90;
  text-decoration: underline;
}
p.smaller
{
  font-size: 10pt;
}
